.settings {
    width: 70%;
    margin: auto;
    margin-top: 5vh;
    color: #999;
}

.settings-avatarBlock {
    background-color: #222;
    padding: 10px;
    display: inline-table;
    width: 100%;
}

.settings-avatarBlock-avatar {
    background: var(--avatar);
    width: 275px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    border: 2px solid #777;
}

.settings-avatarBlock-set {
    height: max-content;
    font-size: 1.4rem;
    float: left;
    width: max-content;
    margin-left: 100px;
}

.settings-avatarBlock-set-url {
    width: 490px;
    background-color: #444;
    border: none;
    height: 40px;
    border-radius: 100px;
    color: white;
    outline: none;
    padding-left: 10px;
    margin-bottom: 20px;
}

.settings-avatarBlock-set-url-but {
    border: none;
    border-radius: 100px;
    background-color: #444;
    color: white;
    height: 40px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.settings-avatarBlock-set-upload_label {
    color: #888;
    border: 1px solid;
    height: 40px;
    width: 200px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.settings-avatarBlock-set-upload {
    position: absolute;
    height: 40px;
    width: 40px;
    padding-left: 200px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.settings-avatarBlock-saveBut {
    background-color: #E96E00;
    color: white;
    float: right;
    padding: 5px 15px;
    border: none;
    border-radius: 100px;
}