.settingsPanels {
  display: flex;
}

.settingsPanels-li-panels {
  list-style-type: none;
  color: white;
  margin-top: 10vh;
  margin-left: 100px;
}

.settingsPanels-li-panels-opps {
  font-size: 1.2rem;
}

.backButt {
    color: #888;
    font-size: 1.4rem;
    position: relative;
    top: 100px;
}

.settingsPanels-li-line {
  height: 30px;
  width: 2px;
  background-color: white;
  float: right;
  transform: translateY(var(--oppheight));
  transition: transform 400ms;
}

.settingsPanels-li-panels-opps li {
  margin: 10px 0;
  cursor: pointer;
  height: 30px;
}

.settings {
  width: 70%;
  margin: auto;
  margin-top: 5vh;
  color: #999;
}

.settings-block {
  background-color: #222;
  padding: 10px;
  display: inline-table;
  width: 100%;
}

.settings-avatarBlock-avatar {
  background: var(--avatar);
  width: 275px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  border: 2px solid #777;
}

.settings-avatarBlock-set {
  height: max-content;
  font-size: 1.4rem;
  float: left;
  width: max-content;
  margin-left: 100px;
}

.settings-avatarBlock-set-url {
  width: 490px;
  background-color: #444;
  border: none;
  height: 40px;
  border-radius: 100px;
  color: white;
  outline: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

.settings-avatarBlock-set-url-but {
  border: none;
  border-radius: 100px;
  background-color: #444;
  color: white;
  height: 40px;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 0 15px;
  transition: background-color 300ms;
}

.settings-avatarBlock-set-upload_label {
  color: #888;
  border: 1px solid;
  height: 40px;
  width: max-content;
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.settings-avatarBlock-set-upload {
  position: absolute;
  height: 40px;
  width: 40px;
  padding-left: 200px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.settings-avatarBlock-saveBut-label {
  width: 150px;
  position: relative;
  top: 380px;
  left: 160px;
}

.settings-avatarBlock-saveBut-but {
  float: right;
  background-color: #e96e00;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 100px;
  border: 2px solid #e96e00;
  transition-property: background-color, color, border;
  transition-duration: 300ms;
}

.settings-avatarBlock-saveBut-but:hover {
  background-color: white;
  color: #e96e00;
  border: 2px solid;
}

.settings-avatarBlock-set-url-but:hover {
  background-color: #777;
}

.settings-avatarBlock-set-url-but:active {
  background-color: #999;
}

.settings-avatarBlock-set-url:focus {
  border: 1px solid;
}

.settings-avatarBlock-set-upload-pos {
  transition: filter 300ms;
}

.settings-avatarBlock-set-upload-pos:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.settings-block-login-err_pop {
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid #888;
}

.settings-block-login {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.settings-block-login-inpt {
  outline: none;
  border: 1px solid #333;
  background-color: #222;
  border-radius: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: transform 300ms;
  color: white;
}

.settings-block-login-inpt:focus {
  border: 1px solid white;
  transform: scale(1.05);
}

.settings-block-login-but {
  outline: none;
  border: 1px solid #999;
  color: white;
  font-weight: 400;
  background-color: #222;
  border-radius: 100px;
  padding: 5px 10px;
  transition: transform 300ms;
}

.settings-block-login-but:hover {
  transform: scale(1.05);
}

.settings-block-login-but:active {
  transform: scale(0.95);
}